header {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* background-color: var(--color3); */
  background-image: url("../assets/background2.jpg");
  align-items: center;
  gap: 0.5rem;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
  padding: 1rem;
  border-bottom: 2px solid var(--color4);
}

header h1 {
  font-size: 3rem;
  /* background-color: var(--color2); */
  /* background-color: rgba(0, 0, 0, 0.1); */
  color: var(--color1);
  font-family: fantasy;
  text-decoration: underline;

  border-radius: 5px;
  text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
  /* box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3); */
  /* padding: 0.5rem; */
}

header nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

header nav a {
  font-family: monospace;
  font-size: 1rem;
  text-decoration: none;
  color: var(--color4);
  background-color: var(--color1);
  border-radius: 5px;
  font-weight: 400;
  padding: 0.35rem;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
}

header nav a.active {
  background-color: var(--color3);
  color: var(--color1);
}

header nav a:hover {
}

@media (max-width: 600px) {
  header h1 {
    font-size: 2rem;
  }
  header nav a {
    font-size: 0.75rem;
  }
}
