header {
  display: flex;
  width: 95vw;
  border-radius: 10px;
  height: 175px;
  background-color: antiquewhite;
  align-items: center;
  object-fit: fill;
  margin: 1rem 0rem;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
}

header h1 {
  font-size: 48px;
  background-color: var(--colorCoffee);
  /* background-color: rgb(179, 152, 117); */
  color: var(--colorWhite);
  padding: 1rem;
  font-family: monospace;
  border-end-end-radius: 10px;
  border-start-end-radius: 10px;
  text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);

  /* box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3); */
}

header nav a {
  font-family: monospace;
  font-size: 22px;
  text-decoration: none;
  color: var(--colorCoffee);
  background-color: var(--colorWhite);
  font-weight: 600;
  border-radius: 12px;
  padding: 0.5rem;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
}

header nav a:hover {
  background-color: var(--colorOrange);
  color: var(--colorWhite);
}
