.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
  justify-content: start;
  overflow-y: hidden;
  background-image: url("../assets/background.jpg");
  background-size: cover; /* fills the screen */
  background-position: center; /* keeps it centered */
  background-repeat: no-repeat; /* no tiling */
}

main {
  display: flex;
  flex-direction: column;
  flex: 1;
}

@media (max-width: 600px) {
  .home nav {
    width: 90%;
  }
}
