.registry-list-item {
  display: flex;
  flex-direction: column;
  list-style: none;
  justify-content: center;
  align-items: start;

  background-color: var(--color1);
  color: var(--color5);
  margin: 1rem auto;
  border-bottom: 3px solid var(--color4);
  border-left: 20px solid var(--color4);
  width: 100%;
  max-width: 800px;
  font-family: monospace;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.3);
}

.registry-list-item:hover {
  scale: 1.01;
  cursor: pointer;
}

.registry-list-item .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid var(--color5);
  padding: 0.5rem;
  background-color: var(--colorTint);
}

.registry-list-item.female .top {
  border-left: 8px solid var(--colorPink);
}

.registry-list-item.male .top {
  border-left: 8px solid var(--colorLightBlue);
}

.registry-list-item.present .top {
  border-right: 8px solid var(--colorGreen);
}
.registry-list-item.absent .top {
  border-right: 8px solid var(--colorRed);
}

.registry-list-item .name {
  font-size: 1rem;
  color: var(--color5);
  text-shadow: 4px 4px 10px #2121214d;
}

.registry-list-item .title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.registry-list-item .code {
  display: flex;
  align-items: center;
}

.registry-list-item .content {
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: start;
  width: 100%;
  font-size: 0.75rem;
  background-color: var(--color1);
}

.registry-list-item .dog-info {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 5px;
  justify-content: start;
  align-items: flex-start;
}
.registry-list-item .dog-info > * {
  flex: 1;
  text-align: left;
}

.registry-list-item .owner-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 5px;
  flex: 1;
  text-align: end;
}

.dog-item .name-field {
  display: flex;
  gap: 5px;
  justify-content: flex-end;
}

@media (max-width: 600px) {
  .registry-list-item .dog-info {
    flex-direction: column;
  }
  .registry-list-item .owner-info {
    flex-direction: column;
    align-items: flex-end;
  }

  .registry-list-item {
    border-left: 10px solid var(--color4);
  }
}
